%article.video_category
  - @categories.each do |category|
    %header
      = link_to category_path(category) do
        %h3= category.name.upcase
      .videos.row
        - category.videos.each do |video|
          .video.col-sm-2
            = link_to video do
              = image_tag("#{video.url_small_cover}")
              %p
                = link_to video.title, video