%article.video
  .container
    .row
      .col-sm-7.col-sm-offset-1
        = image_tag("#{@video.url_large_cover}")
      .video_info.col-sm-3
        %header
          %h3
            = @video.title
          %span.avg_rating Average Rating: 4.5/5.0

          %p
            = @video.description
          %br
        .actions
          %a.btn.btn-primary(href="") Watch Now Placeholder
          %a.btn.btn-default(href="") + My Queue Placeholder


%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for [@video, Review.new] do |f|
        %fieldset
          %label Rate this Video
          .form-group
            = f.select(:rating, options_for_select([["5 Stars",5], ["4 Stars",4], ["3 Stars",3], ["2 Stars",2], ["1 Star",1]]),{},:class =>                  "col-sm-2")
            .row
          .form-group
            %label Write Review
            .row
            = f.text_area(:content, rows: 6, class: 'col-sm-7')
        %fieldset.form-group.actions.clearfix
          %br
            = f.submit "Submit", class: "btn"
            = link_to "Cancel", @video
      %header
        %h3 User Reviews #{@reviews.count}
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating}  out of 5
                %p by <a href="">#{review.user.full_name}</a>
              .col-sm-8
                %p #{review.content}