%article.video
  .container
    .row
      .col-sm-7.col-sm-offset-1
        = image_tag("#{@video.url_large_cover}")
      .col-sm-3
        %header
          %h3.big_red
            = @video.title
          %span Rating: 4.5/5.0

          %p
            = @video.description
          %br
        .actions
          %a.btn.btn-primary(href="") Watch Now Placeholder
          %a.btn.btn-default(href="") + My Queue Placeholder


%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      -#%form
      -#  %fieldset
      -#    .form-group
      -#      %label Rate this video
      -#      .row
      -#        .col-sm-3
      -#          %select.form-control(name="")
      -#            %option(value="5") 5 Stars
      -#            %option(value="4") 4 Stars
      -#            %option(value="3") 3 Stars
      -#            %option(value="2") 2 Stars
      -#            %option(value="1") 1 Star
      -#    .form-group
      -#      %label Write Review
      -#      .row
      -#        .col-sm-8
      -#          %textarea.form-control(name="" rows="6")
      -#  %fieldset.form-group.actions.clearfix
      -#    %input(type="submit" value="Submit" class="btn")
      -#    %a(href="") Cancel
      %header
        -#TODO - there will be a @reviews object from which we can get a count and list reviews
        %h3 User Reviews #{@reviews.count}
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating}  out of 5
                %p by <a href="">#{review.user.full_name}</a>
              .col-sm-8
                %p #{review.content}